html,
body,
canvas {
  background: linear-gradient(
    162.39deg,
    #d5edfd 1.12%,
    #e9eef5 37.96%,
    #fff5e7 70.1%,
    #fff0e8 88.95%
  );

  width: 100vw;
  height: 100vh;
}

#canvas {
  height: 100%;
  width: 100%;
}
